* {
    font-family: "FiraCode Nerd Font", "Symbols Nerd Font Mono", monospace;
    font-size: 18px;
    font-weight: bold;
}

.modules-left {
    padding-left: 20px;
}

.modules-right {
    padding-right: 10px;
}

#temperature {
    color: #FF4500;
}
